*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-dark: #0d0e0e;
  --text-grey: #818181;
  --bg-color: #f1f5f9;
  --sidebar-bg: #ecedf6;
  --header-bg: #f1f5f9;
  --card-bg: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

input,
button,
textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

/* sidebar */

.sidebar {
  width: 4.5rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  background: var(--sidebar-bg);
}

.logo {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.sidebar-links li {
  width: 100%;
  margin-bottom: 1.7rem;
  text-align: center;
  position: relative;
}

.sidebar li a {
  padding-left: 0;
}

/* tooltips */

.sidebar li .tooltip {
  position: absolute;
  top: -1.25em;
  left: calc(100% + 10px);
  z-index: 3;
  background: var(--color-dark);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  font-size: 0.9375rem;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  font-weight: 500;
  color: #fff;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-links {
  margin-top: 1rem;
}
.sidebar-links a {
  padding-left: 1rem;
  display: block;
  color: rgb(34, 29, 29);
  font-size: 1.1rem;
}

.sidebar-links a.active {
  border-right: 3.5px solid var(--color-dark);
  padding: 0.3rem 0;
}

/* end of sidebar */

.main-content {
  margin-left: 4.5rem;
}

/* header */

.main-header {
  background: var(--header-bg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.5rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: calc(100% - 4.5rem);
  left: 4.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.menu {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.notifications-container {
  position: relative;
}

.notifications {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.notifications:hover {
  background: #e2e8f0;
}

.notifications-content {
  position: absolute;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  right: 0;
  padding: 0.5rem 1rem;
  width: 23rem;
  opacity: 0;
  pointer-events: none;
}

.notification-title {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
}

.notification-details {
  margin: 0.9rem 0;
}

.notification-details:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.notification-detail {
  display: flex;
  gap: 0.9rem;
}

.notification-detail p {
  font-size: 0.9rem;
}

.notification-detail span {
  font-weight: 600;
  cursor: pointer;
}

.notification-time {
  font-size: 0.85rem;
  margin-left: 2.2rem;
  color: #777777;
  margin-top: 0.25rem;
}

.notifications-content.active {
  pointer-events: all;
  opacity: 1;
}

.search-input {
  border: solid 1px #ccc;
  border-radius: 8px;
  height: 2.2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-input span {
  padding: 0.5rem;
}

.search-input .search {
  height: 100%;
  padding: 0.5rem 0.8rem;
  border: none;
  outline: none;
}

.user-dropdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}

.user h4 {
  font-weight: 600;
}

.user-dropdown-content {
  position: absolute;
  bottom: -5rem;
  background: rgb(255, 255, 255);
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

.user-dropdown-content.active {
  bottom: -7rem;
  opacity: 1;
  pointer-events: all;
}

.user-dropdown-content > a {
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  display: block;
}

.user-dropdown-content > a:hover {
  background: rgb(223, 223, 223);
}
/* mobile search */

.mobile-search-container {
  position: relative;
  padding: 0.45rem;
  border: solid 1px #ccc;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

.main-header .mobile-search {
  position: absolute;
  align-items: center;
  display: flex;
  top: 2rem;
  right: 0;
  opacity: 0;
  pointer-events: none;
  outline: none;
  transition: top 0.3s ease, opacity 0.1s ease;
}

.mobile-search-input,
.main-header .mobile-search button {
  padding: 0.5rem;
  border: 1px solid var(--color-dark);
  outline: none;
}

.main-header .mobile-search button {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background: var(--color-dark);
  color: white;
  height: 100%;
  border: 1px solid var(--color-dark);
}

.main-header .mobile-search button:hover {
  opacity: 0.8;
}

.main-header .mobile-search.active {
  top: 3rem;
  opacity: 1;
  pointer-events: auto;
}

/* mobile menu nav codes can be found after media queries */

/* main */

main {
  margin-top: 3rem;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card-icon {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.card-single h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 1rem;
}

.card-single div span {
  color: var(--text-grey);
  font-size: 0.95rem;
}

/* circular progress */

.circular {
  height: 100px;
  width: 100px;
  position: relative;
}

.circular .inner,
.circular .outer,
.circular .circle {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.circular .circle {
  background: #eee;
}

.circular .inner {
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: var(--card-bg);
  border-radius: 100%;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); */
}

.circular .circle {
  z-index: 1;
}

.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

.circle .bar #users {
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

.circle .bar #projects {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

.circle .bar #tasks {
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

.circle .bar #visits {
  background-color: #9921e8;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}

.circle .left #users {
  z-index: 1;
  animation: users 0.8s linear both;
}

.circle .left #projects {
  z-index: 1;
  animation: projects 0.8s linear both;
}

.circle .left #tasks {
  z-index: 1;
  animation: tasks 0.8s linear both;
}

.circle .left #visits {
  z-index: 1;
  animation: visits 0.8s linear both;
}

.circle .right-visits {
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right-visits .progress {
  animation: right-visits 0.8s linear both;
  animation-delay: 0.8s;
}

@keyframes users {
  100% {
    transform: rotate(160deg);
  }
}

@keyframes projects {
  100% {
    transform: rotate(110deg);
  }
}

@keyframes tasks {
  100% {
    transform: rotate(85deg);
  }
}

@keyframes visits {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes right-visits {
  100% {
    transform: rotate(140deg);
  }
}

/* project table  */
.grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 60% auto;
}

.card-content {
  background: #fff;
  border-radius: 12px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 1rem;
}

.card-header h2 {
  font-size: 1.15rem;
  font-weight: 700;
}

.card-header button {
  background: var(--color-dark);
  color: #fff;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.25rem 1.5rem;
  border: 1px solid var(--color-dark);
  outline: none;
  cursor: pointer;
}

.card-header button:hover {
  opacity: 0.85;
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
  white-space: nowrap;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}

.status.green {
  background: green;
}

.status.yellow {
  background: yellow;
}

.status.red {
  background: orangered;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.developers {
  display: flex;
  overflow: hidden;
}

.developers img {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/*  */

.activity-body {
  padding: 1rem;
}

.noun {
  color: #94a3b8;
}

.activity-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 14px;
}

.activity-icon {
  padding: 0.5rem;
  background: #9921e8;
  border-radius: 50%;
  margin-right: 1rem;
  display: inline-block;
}

.activity-detail {
  display: flex;
  align-items: center;
  width: 80%;
}

.activity-details p {
  color: #464646;
}

.activity-details p span {
  font-weight: 600;
  color: var(--color-dark);
}

.activity-details .view-more {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.activity-details .view-more a {
  color: #2a20bd;
  margin-right: 0.3rem;
  font-weight: 500;
}

@media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .sidebar {
    left: -100% !important;
  }

  .main-header {
    right: 0;
    width: 100%;
    left: 0;
  }

  .main-content {
    width: 100%;
    margin-left: 0rem;
  }

  .menu {
    display: block;
  }

  .search-input {
    display: none;
  }

  .mobile-search-container {
    display: block;
  }

  .notifications-content {
    right: -10rem;
  }
}
@media only screen and (max-width: 560px) {
  .cards {
    grid-template-columns: 100%;
  }

  .notifications-content {
    width: 20rem;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;
  z-index: 450;
  background-color: #fff;
  padding: 0 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu ul li {
  margin: 1rem 0;
}

.mobile-menu ul li a {
  font-weight: 600;
}

.close-menu {
  cursor: pointer;
}
